    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    /* Géneral*/
    * {
        margin: 0;
        padding:0;
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        outline:none;
    }

    body {
        font-size:var(--font-size);
        font-family: 'Poppins', sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    #user-info {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 16px;
        color: #333;
        text-align: right;
    }
    /* ---------------------------------------------------------------------------------------------------------------- */

    /* Style titre et le reste */
    h1 {
        text-align: center;
        color: #333;
    }

    ul {
        list-style:none;
    }
    
    /* ---------------------------------------------------------------------------------------------------------------- */
    /* Variables */
    :root {
    --font-size:1rem;
    }
    .light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #F0F0F0;  
    }
    .dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #000;  
    }
    /* ---------------------------------------------------------------------------------------------------------------- */
    .main-content {
    padding:1rem;
    }

    /* ---------------------------------------------------------------------------------------------------------------- */
    /* Style pour la section des dernières activités */
    .latest-activities {
        background-color: #3333336b;
        border-radius: 5% 5% 5%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        width: 500px; /* Définissez la largeur souhaitée */
        display: inline-block; /* Changez la valeur pour inline-block */
    }

    /* Style pour le titre "Dernières activités publiées" */
    .latest-activities h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }


    /* Style pour chaque activité */
    .activite {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
    }

    /* Style pour le titre de l'activité */
    .activite h3 {
        font-size: 18px;
        color: #333;
    }

    /* Style pour la description de l'activité */
    .activite p {
        font-size: 16px;
        color: #666;
    }

    /* Style pour la date de l'activité */
    .activite p:last-child {
        font-size: 14px;
        color: #999;
    }
    /* ---------------------------------------------------------------------------------------------------------------- */
    /* Style pour la section des dernières participant */
    .latest-membre {
        background-color: #3333336b;
        border-radius: 5% 5% 5%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        width: 500px; /* Définissez la largeur souhaitée */
        display: inline-block; /* Changez la valeur pour inline-block */
        /* margin-top:80px; */
        /* margin-left:150px; */
    }

    /* Style pour le titre "Dernières activités publiées" */
    .latest-membre h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
    }


    /* Style pour chaque activité */
    .membre {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
    }

    /* Style pour le titre de l'activité */
    .membre h3 {
        font-size: 18px;
        color: #333;
    }

    /* Style pour la description de l'activité */
    .membre p {
        font-size: 16px;
        color: #666;
    }

    /* Style pour la date de l'activité */
    .membre p:last-child {
        font-size: 14px;
        color: #999;
    }
