.test {
    height: 100vh;
    margin-top: 3em;
}

.test2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center;
}

p {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
    margin-right: 10px;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.affichage {
    padding: 10px;
    margin-top: 2em;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activite {
    width: 48%;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 20px;
}

.deja_inscrit {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #333;
        /* border: 2px solid #3498db; */
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.deja_inscrit:hover {
    background-color: #252121;
    color: #fff;
}

/* ----------------------------------------------------------------------- */

.bouton_participer {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #333;
        /* border: 2px solid #3498db; */
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.bouton_participer:hover {
    background-color: #252121;
    color: #fff;
}

/* ----------------------------------------------------------------------- */

.desinscription {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #333;
        /* border: 2px solid #3498db; */
    color: #fff;
    border-radius: 10px 10px 10px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.desinscription:hover {
    background-color: #252121;
    color: #fff;
}