/* Reset des styles par défaut du navigateur */
body, h1, p, a, form, div {
    margin: 0;
    padding: 0;
}

/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(49,51,56,255);
    margin: 0;
    color: #fff;
}

/* Styles pour le titre de la page */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

/* Styles pour la liste des membres */
.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(49,51,56,255);
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 2px #fff;
}

.padding {
    padding: 25px;
}

.user-info {
    flex: 1;
}

.user-info p {
    font-size: 16px;
    line-height: 1.4;
}

.user-actions {
    display: flex;
    align-items: center;
}

/* Style pour le lien "Modifier" */
a {
    color: blue;   
    text-decoration: none;
    font-weight: bold;
} 