.test {
    height: 100vh;
    margin-top: 1em;
}

.test2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center;
}

p {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}

.activite {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    width: 20em;
    width: calc(33.33% - 20px); 
}

a {
    text-decoration: none;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}

.delete-button {
    background-color: red;
    color: white;
}

.delete-button hover{
    background-color: #0056b3;
}

.edit-button {
    background-color: yellow;
    color: black;
}

.envoie-button {
    background-color: #007BFF;
    text-decoration: none;
    color: #fff;
    padding: 9px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.envoie-button:hover {
    background-color: #0056b3;
}
    

@media screen and (max-width: 768px) {
    .activite {
        width: calc(50% - 20px); 
    }
}



body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aff-activite-admin {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-image: url("https://images.unsplash.com/photo-1607962837359-5e7e89f86776?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 100%;
    position: relative;
     font-size: 18px;
}

.aff-activite-admin::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.822); 
}

.aff-activite-admin p {
    font-size: 20px;
}
.aff-activite{
    height: 100vh;
}

.aff-activite-admin-content {
    max-width: 500px;
    z-index: 1;
}

.aff-activite-admin-content {
    max-width: 1000px;
    z-index: 1;
}

.aff-activite-admin-content h2 {
    padding: 2px;
    font-size: 20px;
}


.aff-activite-admin {
    height: 100vh;
    font-size: 28px;
    display: flex;
    align-items: center;
    padding: 0 10%;
    border-bottom: 2px solid white; 
    position: relative; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.aff-activite-admin-content h1 {
    color: #fff;
    font-size: 25px;
}

.aff-activite-admin-content b {
    color: #88bcff;
    font-size: 20px;
}





