.card {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center;
    margin-top: 50px;
}

p {
    color: #ffffff;
    font-size: 16px;
    margin: 0;
}

.activite {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    width: 20em;
    width: calc(33.33% - 20px);
}

a {
    text-decoration: none;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .activite {
        width: calc(50% - 20px); 
    }
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}