/* Reset des styles par défaut du navigateur */
body, h1, p, a {
    margin: 0;
    padding: 0;
}

/* Styles pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

/* Styles pour le titre de la page */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles pour la liste des membres */
p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style pour le lien "Bannir le membre" */
a {
    color: red;
    text-decoration: none;
    margin-left: 10px;
    font-weight: bold;
}

/* Style pour le lien "Bannir le membre" au survol */
a:hover {
    text-decoration: underline;
}
