body {
    font-family: "Poppins";
    display: flex;
    flex-direction: column; 
    margin: 0;
    overflow: auto;
}


body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

/* ----------------------------------------------------------------------- */

.body_resp {
    height: 100vh;
    padding: 30px;
    margin-top: 3em;
  }

.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
    flex: 1;
}

.user-info p {
    font-size: 16px;
    line-height: 1.4;
}

.user-actions {
    display: flex;
    align-items: center;
}

button.noselect {
    cursor: pointer;
    width: 75px;
    height: 25px;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    color: white;
    background: #e62222;
    transition: 200ms;
    position: relative;
    margin-right: 10px;
}

button.noselect .text {
    transform: translateX(15px);
    color: white;
    font-weight: bold;
}

button.noselect .icon {
    position: absolute;
    transform: translateX(55px);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.noselect svg {
    width: 10px;
    fill: #eee;
}

button.noselect:hover {
    background: #ff0000c4;
}

button.noselect:hover .text {
    color: transparent;
}

button.noselect:hover .icon {
    width: 75px;
    border-left: none;
    transform: translateX(0);
}

button.noselect:focus {
    outline: none;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}